{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}


{% block content %}
<h1>{{ request.path| num_censor }}Property</h1>
<hr>
<table style="width:100%" class="table">
    <tr>
        <td width="40%">
            <form align='right' action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" />
                <input type="button" value="Cancel" onclick="history.back()">
            </form>
        </td>
        <td></td>

    </tr>
</table >

{% endblock content %}
