<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}


<!-- Название у нас будет Product -->
{% block title %}
Real Estate - Property
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


    <h2 align="left">{{ resproperty }}</h2>
    <h5 align="left"> Date added: {{ resproperty.date_added|date:'M d Y'  }}</h5>
<br>
<br>
        <table style="width:100%" class="table">

            <tr>
                <td align="left">{% if resproperty.prop_division == 'QL' %}  For Rent - Residential   {% elif resproperty.prop_division == 'QC' %} For Rent - Commercial {% else %} For Sale {% endif %}</td>
                <td align="left">{{ resproperty.prop_description|num_censor }}</td>

            </tr>
            <tr>
                <td align="left"> Price: </td>
                <td align="left">{{ resproperty.price|currency:"eur" }}</td>

            </tr>
            <tr>
                <td align="left">Bedrooms:</td>
                <td align="left">{{ resproperty.bedrooms }}</td>
            </tr>
            <tr>
                <td align="left">Bathrooms:</td>
                <td align="left">{{ resproperty.bathrooms }}</td>
            </tr>
            <tr>
                <td align="left">Status:</td>
                <td align="left">{% if resproperty.status == 'AV' %}  Available   {% else %} Contact the Agent {% endif %}</td>
            </tr>

{% endblock content %}
