{% extends "flatpages/default.html" %}

{% block base_content %}
  <body>
    <br><br><br>
    <h2>Please Sign In / Sign Up to Continue</h2>
    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
        <br>
        {% if user.is_authenticated %}
        <a href="{% url 'account_email' %}">Change Email</a><br>
        <a href="{% url 'account_logout' %}">Sign Out</a><br>
        {% else %}
        <a href="{% url 'account_login' %}">Sign In</a><br>
        <a href="{% url 'account_signup' %}">Sign Up</a><br>
        {% endif %}

    </div>
    {% block content %}
    {% endblock content %}

    {% endblock base_content%}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>