{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}



{% block content %}
<br><br><br><br>
<h2>An agile professional team at your service<br> Helping to find your perfect home</h2>
<p class="lead">{{ flatpage.content }}</p>
<br><br><br><br><br><br><br>
<form action='processing/logout.php' method='POST' class='inline'>
    <input type="button"  value="Property Enquiry" onclick="window.location.href=' {% url 'contactus:property_enquiry' %}' " />
    <input type="button"  value="Property List" onclick="window.location.href='/property/';" />
    <input type="button"  value="Property Search" onclick="window.location.href='/property/search';" />
</form>
{% endblock content %}