{% extends 'flatpages\default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block heading %}
<h1 class="text-white fs-3 fw-bolder">{{ flatpage.title }}</h1>
<p class="text-white-50 mb-0">Welcome</p>
{% endblock heading %}

{% block content %}
<h2>{{ flatpage.content }}</h2>
<p class="lead">An agile professional team at your service. Helping to find your perfect home</p>
<p class="mb-0">10 steps to find your desired apartment: 1. Call the QL Exiles agent. He will take care of the rest 9 steps.</p>
{% endblock content %}